@font-face {
   font-family: 'BrusthyTTF';
   font-display: swap;
   src: url('file:///C:/Users/danel/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-03-24_153226/fonts/BrusthyTTF/font.ttf');
}
